@{
    ViewBag.Title = "ThankYou";
    Layout = null; //"~/Views/Shared/_Layout.cshtml";
}

<h2>ThankYou</h2>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/index")


@*Adding Script files here*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/Images/favicon.ico">
</head>
<body>


    <div class="testimonial-text">
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            Lorem ipsum dolor sit amet, consectetur..."<br>
        </p>
    </div>
</body>
</html>
