<div class="modal fade" role="dialog" id="divDeleteDriverGuard">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <h3 class="modal-title">Delete <span id="spanDriverGuard"></span> <span style="color:green" id="spanDriverGuardFullName"></span></h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure to delete <span id="spanDriverGuardId"></span> </h4>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnYes" class="btn btn-success" onclick="deleteDriverGuard()">Yes</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-danger">No</a>
            </div>
        </div>
    </div>
</div>
