

<div id="divChangePassword" class="modal" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <div class="modal-body" style="padding-left:40px;padding-right:30px;">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-12">
                        <div class="panel panel-default" style="padding-bottom:12px;">
                            Please change your password as your account have temprory password.
                        </div>

                    </div>
                </div>
          
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <label class="control-label" for="inputLoaction">New Password: <span style="color:red;font-size:15px;">*</span></label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input name="txtNewPassword" type="password"  maxlength="15" id="txtNewPassword" class="form-control ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <label class="control-label" for="inputLoaction">Confirm Password: <span style="color:red;font-size:15px;">*</span></label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input name="txtConfirmPassword" type="password" maxlength="15" id="txtConfirmPassword" class="form-control ">
                    </div>
                </div>
                <div class="row pull-right">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" name="btnChangePassword" value="Change Password" id="btnChangePassword" class="btn btn-primary">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12"></div>
                </div>


            </div>

        </div>
    </div>
</div>


