.cross
{
    float: right;
    position: relative;
    top: -12px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-image: url(/images/close-button.png);
    z-index: 9999;
}
.repeatbutton {
    float: right;
}
 .cross {
        float: right;
        position: relative;
        top: -12px;
        right: -15px;
        width: 30px;
        height: 30px;
        background-image: url("/images/close-button.png");
        z-index: 9999;
    }

    .talign {
        text-align: center;
    }

    .repeatbutton {
        float: right;
    }

    .control-label {
        font-size: 11px;
    }

    #divoutput {
        padding: 15px;
    }

    .hidediv {
        display: none;
    }

    .AMT {
        font-size: larger;
    }

    .ppmes {
        padding: 5px;
    }
    .error{
        border:1px solid red; width:100%;
    }